RewriteEngine on
RewriteCond %{HTTP_REFERER} !^http://thegeekytutor.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://thegeekytutor.com$ [NC]
RewriteCond %{HTTP_REFERER} !^http://www.thegeekytutor.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://www.thegeekytutor.com$ [NC]
RewriteRule .*\.(jpe?g|png|webp)$ - [F,NC]
